@rendermode InteractiveServer
@page "/new-user-request"
@using NewUserSite.Models
@using NewUserSite.Data
@using NewUserSite.Services
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@inject NewUserService NewUserService
@inject IDbContextFactory<NewUserSite.Data.NewUserDbContext> dbContextFactory
@inject NavigationManager NavigationManager
@inject DataStateService DataStateService

<h1 class="mb-3">New User Request</h1>

<EditForm Model="@newUser" FormName="NewUserRequestForm" OnValidSubmit=@handleValidSubmit >
    <div class="row mb-3">
        <div class="col-md-3">
            <label class="form-label" for="FirstName">First Name:</label>
            <InputText class="form-control col-2" id="FirstName" @bind-Value="@newUser.FirstName" />
        </div>
        <div class="col-md-3">
            <label class="form-label" for="LastName">Last Name:</label>
            <InputText class="form-control" id="LastName" @bind-Value="@newUser.LastName" />
        </div>
    
    <div class="col-4">

        <label class="form-label" for="Domain">Email Domain:</label>
        <select class="form-select" name="Domain" id="Domain" @bind="@selectedDomainId">
            <option value="">--Select a domain--</option>
            @foreach (var domain in domains)
            {
                <option value="@domain.Id">@domain.Name</option>
            }
        </select>

    </div>
    </div>
    <div class="row mb-3">

    <div class="col-md-3">
    <label class="form-label" for="ADOrganizationalUnit">Organizational Unit:</label>
    <select class="form-select" name="ADOrganizationalUnit" id="ADOrganizationalUnit" @onchange="OnOrganizationalUnitChanged">
        <option value="">--Select an OU--</option>
        @foreach (var ou in organizationalUnits)
        {
            <option value="@ou.Id">@ou.Name</option>
        }
    </select>
        </div>

        <div class="col-md-3">
    <label class="form-label" for="NewUserTemplate">Template:</label>
    <select class="form-select" name="NewUserTemplate" id="NewUserTemplate" @bind="@selectedTemplateId" disabled="@(availableTemplates.Count == 0)">
        <option value="">@(availableTemplates.Count == 0 ? "Select an OU first" : "--Select a template--")</option>
        @foreach (var template in availableTemplates)
        {
            <option value="@template.Id">@template.TemplateName</option>
        }
    </select>
        </div>

        <div class="col-md-3">
    <label class="form-label" for="SupervisorEmail">Supervisor Email:</label>
    <InputText class="form-control" id="SupervisorEmail" @bind-Value="@newUser.SupervisorEmail" />
        </div>
    </div>
    @if (isLoading)
    {
        <div class="spinner"> ... </div>
    } else {
    <button class="btn btn-primary" type="submit">Submit Request</button>
    }
</EditForm>

    @code {
    NewUser newUser = new NewUser();
    private NewUserDbContext context;
    private List<ADOrganizationalUnit> organizationalUnits = new();
    private List<NewUserTemplate> availableTemplates = new();
    private List<Domain> domains = new();
    private ADSearcher adSearcher = new();
    private int? selectedOuId;
    private int? selectedTemplateId;
    private int? selectedDomainId;
    private bool isLoading { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        context = dbContextFactory.CreateDbContext();
        organizationalUnits = await context.ADOrganizationalUnits
            .Include(t => t.NewUserTemplates)
            .ToListAsync();
        adSearcher = await context.ADSearchers.FirstOrDefaultAsync();
        domains = await context.Domains.ToListAsync();
    }

    private void OnOrganizationalUnitChanged(ChangeEventArgs args)
    {
        if (int.TryParse(args.Value?.ToString(), out int ouId)) {
            selectedOuId = ouId;
            var selectedOu = organizationalUnits.FirstOrDefault(ou => ou.Id == ouId);
            availableTemplates = selectedOu?.NewUserTemplates.ToList() ?? new List<NewUserTemplate>();
        }
    }

    public async Task handleValidSubmit(EditContext editContext)
    {
        isLoading = true;
        var newUserRequest = (NewUser)editContext.Model;

        newUserRequest.CreatedDate = DateTime.UtcNow;
        newUserRequest.ADOrganizationalUnit = await context.ADOrganizationalUnits.FindAsync(selectedOuId);
        newUserRequest.NewUserTemplate = await context.NewUserTemplates.FindAsync(selectedTemplateId);
        newUserRequest.Domain = await context.Domains.FindAsync(selectedDomainId);

        NewUserService.CreateNewUser(adSearcher, newUserRequest);

        context.NewUsers.Add(newUserRequest);
        await context.SaveChangesAsync();
        DataStateService.SavedObject = newUserRequest;
        NavigationManager.NavigateTo("/new-user-request/success");
    }
}
