@rendermode InteractiveServer
@page "/settings/template-accounts/add"
@using NewUserSite.Models
@using NewUserSite.Data
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<NewUserSite.Data.NewUserDbContext> dbContextFactory
@inject NavigationManager NavigationManager

<h1>Add a Template Account</h1>

<EditForm Model="@newUserTemplate" FormName="AddNewUserTemplate" OnValidSubmit="@handleValidSubmit">
    <label for="TemplateName">Template Name:</label>
    <InputText id="TemplateName" @bind-value="@newUserTemplate.TemplateName" />
    <label for="TemplateSAMAccountName">SAM Account Name:</label>
    <InputText id="TemplateSAMAccountName" @bind-Value="newUserTemplate.TemplateSAMAccountName" />
    <div>
        <div>
            <h2>This template is available in the following OUs:</h2>
        </div>
    @if (organizationalUnits?.Count > 0)
    {
        @foreach (var ou in organizationalUnits)
        {
            <div>
                <InputCheckbox id="@ou.Name" @bind-Value="ou.IsChecked" />
                <label for="@ou.Name">@ou.Name</label>
            </div>
        }

    }
    </div>

    <button type="submit">Add Template</button>
</EditForm>

<a href="/settings/template-accounts" class="btn btn-secondary">Back</a>

@code {
    NewUserTemplate newUserTemplate = new NewUserTemplate();
    private List<ADOrganizationalUnit> organizationalUnits = new();
    private NewUserDbContext context;

    protected override async Task OnInitializedAsync()
    {
        context = dbContextFactory.CreateDbContext();
        organizationalUnits = await context.ADOrganizationalUnits.ToListAsync();
        foreach (var ou in organizationalUnits)
        {
            ou.IsChecked = false;
        }
    }

    public void Dispose()
    {
        context.Dispose();
    }

    public async Task handleValidSubmit(EditContext editContext)
    {
        var newTemplate = (NewUserTemplate)editContext.Model;

        newTemplate.Id = 0;

        foreach (var ou in organizationalUnits)
        {
            if (ou.IsChecked)
            {
                newTemplate.ADOrganizationalUnits.Add(ou);
            }
        }

        context.NewUserTemplates.Add(newTemplate);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/settings/template-accounts");
    }

}
