@page "/settings/template-accounts/add"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using NewUserSite.Models
@using NewUserSite.Data
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<NewUserSite.Data.NewUserDbContext> dbContextFactory
@inject NavigationManager NavigationManager

<h1 class="mb-3">Add a Template Account</h1>

<EditForm Model="@newUserTemplate" FormName="AddNewUserTemplate" OnValidSubmit="@handleValidSubmit">
    <div class="mb-4">
    <label for="TemplateName">Template Name:</label>
    <InputText id="TemplateName" @bind-value="@newUserTemplate.TemplateName" />
    <label for="TemplateSAMAccountName" class="ms-2">SAM Account Name:</label>
    <InputText id="TemplateSAMAccountName" @bind-Value="newUserTemplate.TemplateSAMAccountName" />
    </div>
    <div>
        <div>
            <h2>Make this template available in the following OUs:</h2>
        </div>
    @if (organizationalUnits?.Count > 0)
    {
        @foreach (var ou in organizationalUnits)
        {
            <div class="input-group input-group-lg">
                <InputCheckbox id="@ou.Name" @bind-Value="ou.IsChecked" class="form-check-input me-2 mt-2" />
                <label for="@ou.Name" class="fs-5 text">@ou.Name</label>
            </div>
        }

    }
    </div>
    <div class="mt-3">
        <a href="/settings/template-accounts" class="btn btn-secondary">Back</a>
        <button type="submit" class="btn btn-primary">Add Template</button>
    </div>
</EditForm>



@code {
    NewUserTemplate newUserTemplate = new NewUserTemplate();
    private List<ADOrganizationalUnit> organizationalUnits = new();
    private NewUserDbContext context;

    protected override async Task OnInitializedAsync()
    {
        context = dbContextFactory.CreateDbContext();
        organizationalUnits = await context.ADOrganizationalUnits.ToListAsync();
        foreach (var ou in organizationalUnits)
        {
            ou.IsChecked = false;
        }
    }

    public void Dispose()
    {
        context.Dispose();
    }

    public async Task handleValidSubmit(EditContext editContext)
    {
        var newTemplate = (NewUserTemplate)editContext.Model;

        newTemplate.Id = 0;

        foreach (var ou in organizationalUnits)
        {
            if (ou.IsChecked)
            {
                newTemplate.ADOrganizationalUnits.Add(ou);
            }
        }

        context.NewUserTemplates.Add(newTemplate);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/settings/template-accounts");
    }

}
