@rendermode InteractiveServer
@page "/settings/active-directory/edit"
@using NewUserSite.Models
@using NewUserSite.Data
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<NewUserSite.Data.NewUserDbContext> dbContextFactory
@inject NavigationManager NavigationManager

<h1>Active Directory Settings</h1>

<EditForm Model="@adSearcher" FormName="ADSearcherSettingsUpdate" OnValidSubmit=@handleValidSubmit >
    <label for="Username">AD Agent Username:</label>
    <InputText id="Username" @bind-Value="@adSearcher.Username" />
    <label for="Password">AD Agent Password:</label>
    <InputText id="Password" @bind-Value="@adSearcher.Password" type="password" />
    <label for="DomainControllerLocation">Domain Controller IP or FQDN:</label>
    <InputText id="DomainControllerLocation" @bind-Value="@adSearcher.DomainControllerLocation" />
    <label for="DomainControllerRoot">Domain Controller Root DN:</label>
    <InputText id="DomainControllerRoot" @bind-Value="@adSearcher.DomainControllerRoot" />
    <label for="TemplateOU">Template OU DN:</label>
    <InputText id="TemplateOU" @bind-Value="@adSearcher.TemplateOU" />
    <button type="submit">Save Settings</button>

</EditForm>


@code {
    ADSearcher adSearcher = new ADSearcher();
    private NewUserDbContext context;

    protected override async Task OnInitializedAsync()
    {
        context = dbContextFactory.CreateDbContext();
        adSearcher = await context.ADSearchers.FirstOrDefaultAsync();
        if (adSearcher == null)
        {
            adSearcher = new ADSearcher();
            context.ADSearchers.Add(adSearcher);
            await context.SaveChangesAsync();
        }
    }

    public async Task handleValidSubmit(EditContext editContext)
    {
        var newAdSearcher = (ADSearcher)editContext.Model;
        context.ADSearchers.Update(newAdSearcher);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/settings");
    }
}