@page "/settings/active-directory/edit"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using NewUserSite.Models
@using NewUserSite.Data
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.DataProtection
@inject IDbContextFactory<NewUserSite.Data.NewUserDbContext> dbContextFactory
@inject NavigationManager NavigationManager
@inject IDataProtectionProvider ProtectionProvider

<h1 class="mb-3">Active Directory Settings</h1>

<EditForm Model="@adSearcher" FormName="ADSearcherSettingsUpdate" OnValidSubmit=@handleValidSubmit >
    <div class="row mb-3">
        <div class="col-md-3">
                <label class="form-label" for="Username">AD Agent Username:</label>
            <InputText class="form-control" id="Username" @bind-Value="@adSearcher.Username" />
        </div>
        <div class="col-md-3">
                <label class="form-label" for="Password">AD Agent Password:</label>
            <InputText class="form-control" id="Password" @bind-Value="@adSearcher.Password" type="password" />
        </div>
        <div class="col-md-3">
                <label class="form-label" for="DomainControllerLocation">Domain Controller IP or FQDN:</label>
            <InputText class="form-control" id="DomainControllerLocation" @bind-Value="@adSearcher.DomainControllerLocation" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <label class="form-label" for="DomainControllerRoot">Domain Controller Root DN:</label>
            <InputText class="form-control" id="DomainControllerRoot" @bind-Value="@adSearcher.DomainControllerRoot" />
        </div>
        <div class="col-md-4">
            <label class="form-label" for="TemplateOU">Template OU DN:</label>
            <InputText class="form-control" id="TemplateOU" @bind-Value="@adSearcher.TemplateOU" />
    
        </div>
    </div>
    <button class="btn btn-primary me-3" type="submit">Save Settings</button>
    <a href="/settings/active-directory" class="btn btn-secondary">Back</a>
</EditForm>



@code {
    ADSearcher adSearcher = new ADSearcher();
    private NewUserDbContext context;

    protected override async Task OnInitializedAsync()
    {
        context = dbContextFactory.CreateDbContext();
        adSearcher = await context.ADSearchers.FirstOrDefaultAsync();
        if (adSearcher == null)
        {
            adSearcher = new ADSearcher();
            context.ADSearchers.Add(adSearcher);
            await context.SaveChangesAsync();
        }
    }

    public async Task handleValidSubmit(EditContext editContext)
    {
        var newAdSearcher = (ADSearcher)editContext.Model;
        var protector = ProtectionProvider.CreateProtector("ADSearcherPassword");
        var encryptedPassword = protector.Protect(newAdSearcher.Password);
        newAdSearcher.Password = encryptedPassword;
        context.ADSearchers.Update(newAdSearcher);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/settings/active-directory");
    }
}