@rendermode InteractiveServer
@page "/settings/active-directory"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using NewUserSite.Models
@using NewUserSite.Data
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<NewUserSite.Data.NewUserDbContext> dbContextFactory
@inject NavigationManager NavigationManager


<h1 class="mb-3">Active Directory Index</h1>

@if (adSearcher.Username is null && adSearcher.Password is null)
{
    <a href="/settings/active-directory/edit" class="btn btn-primary mb-3">Add Active Directory Information</a>
}

<table class="table">
    <thead>
        <tr>
            @if (!editActive) 
            {
        <th>Username</th>
        <th>Password</th>
        <th>Domain Controller Location</th>
        <th>Domain Controller Root DN</th>
        <th>Template OU</th>
            }
            @if (editActive)
            {
                <th><a href="/settings/active-directory/username">Username</a></th>
                <th><a href="/settings/active-directory/password">Password</a></th>
                <th><a href="/settings/active-directory/domain-controller-location">Domain Controller Location</a></th>
                <th><a href="/settings/active-directory/domain-controller-root">Domain Controller Root</a></th>
                <th><a href="/settings/active-directory/template-OU">Template OU</a></th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
        @if (!editActive)
        {
            <td>@adSearcher.Username</td>
                <td>
                    @if (adSearcher.Password is not null)
                    {
                        <p>*******************</p>
                    }
                </td>
            <td>@adSearcher.DomainControllerLocation</td>
            <td>@adSearcher.DomainControllerRoot</td>
            <td>@adSearcher.TemplateOU</td>
        }
        @if (editActive)
        {
            
            <td><a href="/settings/active-directory/username">@adSearcher.Username</a></td>
                <td><a href="/settings/active-directory/password">@if (adSearcher.Password is not null) {
                    <p>*******************</p>
                }
            </a></td>
                <td><a href="/settings/active-directory/domain-controller-location">@adSearcher.DomainControllerLocation</a></td>
            <td><a href="/settings/active-directory/domain-controller-root">@adSearcher.DomainControllerRoot</a></td>
            <td><a href="/settings/active-directory/template-OU">@adSearcher.TemplateOU</a></td>
        }
        </tr>
    </tbody>
</table>

<a href="/settings" class="btn btn-secondary me-3">Back</a>

@if (!editActive)
{
    <button onclick="@toggleEdit" class="btn btn-warning">Edit</button>
}
@if (editActive)
{
    <button onclick="@toggleEdit" class="btn btn-danger">Cancel</button>
}




@code {
    private NewUserDbContext context = default!;
    private bool editActive = false;
    private bool hasADSearchers;
    ADSearcher adSearcher = new ADSearcher();


    private void toggleEdit()
    {
        if (editActive == false) { editActive = true; }
        else { editActive = false; }
    }

    protected override async Task OnInitializedAsync()
    {
        context = dbContextFactory.CreateDbContext();
        adSearcher = await context.ADSearchers.FirstOrDefaultAsync();
        hasADSearchers = await context.ADSearchers.AnyAsync();
        if (adSearcher == null)
        {
            adSearcher = new ADSearcher();
            context.ADSearchers.Add(adSearcher);
            await context.SaveChangesAsync();
            hasADSearchers = false;
        } 
    }
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}