@page "/settings/active-directory"
@using NewUserSite.Models
@using NewUserSite.Services
@inject ADSearcherService adSearcherService;
@using Microsoft.AspNetCore.Components.Forms

<h1>Active Directory Settings</h1>

<EditForm EditContext="@editContext" FormName="ADSearcherSettingsUpdate" OnValidSubmit="SaveSettings" >
    <label for="Username">AD Agent Username:</label>
    <InputText id="Username" @bind-Value="@adSearcher.Username" />
    <label for="Password">AD Agent Password:</label>
    <InputText id="Password" @bind-Value="@adSearcher.Password" type="password" />
    <label for="DomainControllerLocation">Domain Controller IP or FQDN:</label>
    <InputText id="DomainControllerLocation" @bind-Value="@adSearcher.DomainControllerLocation" />
    <label for="DomainControllerRoot">Domain Controller Root DN:</label>
    <InputText id="DomainControllerRoot" @bind-Value="@adSearcher.DomainControllerRoot" />
    <label for="TemplateOU">Template OU DN:</label>
    <InputText id="TemplateOU" @bind-Value="@adSearcher.TemplateOU" />
    <button type="submit">Save Settings</button>

</EditForm>


@code {
    ADSearcher adSearcher;
    EditContext? editContext;

    protected override void OnInitialized()
    {
        adSearcher = new ADSearcher();
        editContext = new EditContext(adSearcher);
    }

    public void SaveSettings()
    {
        // Use the bound model instance
        adSearcherService.AddADSearcherToDatabase(adSearcher);
    }
}

// Initial setup requires the following fields:
// ADUC - User Name
// ADUC - Password
// ADUC - Domain Controller IP address or FQDN
// ADUC - DC Root DN
// ADUC - Template OU